<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.deepak.broadcastreceiverexample">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <permission android:name="com.deepak.broadcastreceiverexample.CUSTOM_PERMISSION"/>
<!--        android:protectionLevel="signature"/>-->

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BroadcastReceiverExample">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
<!--        <receiver android:name=".recievers.ExampleBroadcastReceiver">-->
<!--            <intent-filter >-->
<!--                <action android:name="android.intent.action.BOOT_COMPLETED"/>-->
<!--                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>-->
<!--            </intent-filter>-->
<!--        </receiver>-->

        <receiver android:name=".recievers.ExportedBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.deepak.broadcastreceiverexample.EXPORT_SAMPLE"/>
            </intent-filter>
        </receiver>


        <receiver android:name=".recievers.OrderedBroadcastReceiver2"
            android:permission="android.permission.INTERNET">
            <intent-filter android:priority="2">
                <action android:name="com.deepak.broadcastreceiverexample.ORDERED_SAMPLE"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".recievers.OrderedBroadcastReceiver3"
            android:permission="com.deepak.broadcastreceiverexample.CUSTOM_PERMISSION">
            <intent-filter android:priority="3"
                >
                <action android:name="com.deepak.broadcastreceiverexample.ORDERED_SAMPLE"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".recievers.AlertReceiver"/>
    </application>

</manifest>